table {
  /* width: 100vw; */
  border-collapse: collapse;
}
tr,
td {
  border: 1px solid black;
}
td {
  width: 40px;
  height: 40px;
}

.live-cell {
  background-color: black;
}
.dead-cell {
  background-color: white;
}
